<p>{{foo}}{{bar}}</p>
{{#with data.[0]}}


<figure class="largeCard">
    <div class="pictureContainer">

        <picture>
            <!-- profile picture -->
            <source type="image/webp" srcset="/images/user-image1.webp" />
            <source type="image/jpg" srcset="/images/user-image1.jpg" />
            <img src="/images/user-image1.jpg" alt="" />
        </picture>

        <div class="sliderBtns">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </div>

    <div class="infoContainer">
        {{!-- distance --}}
        <p class="distance">10km</p>
        <!-- lvl -->
        <p class="lvl">5</p>
    </div>




    <figcaption>
        <div class="playerInfo">
            <h2>{{this.charactername}}</h2>
            <h3>{{this.firstname}} {{this.lastname}}</h3>
        </div>

        <div class="tags">
            <p class="playerClass">Rogue</p>
            <p class="playerElement">Shadow</p>
        </div>

        <div class="aboutMe">
            <h3>About me:</h3>
            <p>{{this.aboutme}}</p>
        </div>
    </figcaption>
</figure>

{{/with}}
